<!DOCTYPE html>
<html>
<head>
    <title><%= title%></title>
    <link rel='stylesheet' href="/stylesheets/style.css"/>
    <link rel='stylesheet' href="/stylesheets/bootstrap.min.css"/>
    <link rel='stylesheet' href="/stylesheets/.css"/>
    <link rel='stylesheet' href="/themes/default/easyi.css"/>    
    <link rel='stylesheet' href="/themes/icon.css"/>    
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.easyui.min.js"></script>
</head>  
<body>  


</body>
</html>