<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href="/stylesheets/style.css"/>    
    <link rel='stylesheet' href="/stylesheets/amazeui.min.css"/>
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/amazeui.js"></script>
    <script type="text/javascript" src="/javascripts/amazeui.ie8polyfill.js"></script>
    <script type="text/javascript" src="/javascripts/amazeui.widgets.helper.js"></script>
</head>  
<body> 
         <div style="width:70%;">


       </div>	
</body>
</html>