<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href="/stylesheets/style.css"/>    
    <link rel='stylesheet' href="/stylesheets/amazeui.min.css"/>
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/amazeui.js"></script>
    <script type="text/javascript" src="/javascripts/amazeui.ie8polyfill.js"></script>
    <script type="text/javascript" src="/javascripts/amazeui.widgets.helper.js"></script>
</head>  
<body> 
         <div style="width:70%;">
         	<h3>User List</h3>
         	<div>
         	<a type="button" class="am-btn am-btn-secondary am-icon-plus-circle" href="/adduser">添加</a>
         	<form class="am-form" method="post" action="/findUser"><input type="text" placeholder="输入查找的用户名" name="name"><button type="submit">查找</button></form>
	</div>
	<table class="am-table am-table-bordered am-table-striped am-table-hover">
	    <thead>
	        <tr>
	            <th>Name</th>
	            <th>Sex</th>
	            <th>Age</th>
	            <th>Password</th>
	            <th>Manage</th>
	        </tr>
	    </thead>
	    <tbody>
	        	<%
	        	       var i;
	        	       for(i=0;i<users.length;i++)
	        	       {
	        	%>
	        	 <%
	        	        if(i%2==0){
	        	 %>
	        	       <tr class="am-primary">
	        	<%
	        	       }else{
	        	%>
	        	        <tr class="am-active">
	        	<%
	        	       }
	        	%>       
	        	            <td><%= users[i].name%></td>
	        	            <td><%= users[i].sex%></td>
	        	            <td><%= users[i].age%></td>
	        	            <td><%= users[i].passwd%></td>
	        	            <td><a type="button" class="am-btn am-btn-secondary am-radius am-icon-edit" href="user?_id=<%= users[i]._id%>">修改</a>
	        	            <a type="button" class="am-btn am-btn-danger am-radius am-icon-close" href="delUser?_id=<%= users[i]._id%>">删除</a>
	        	            </td>
	        	       </tr>
	        	<%
	        	       }
	        	%>
	    </tbody>
	</table>
       </div>	
</body>
</html>